@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Raleway:wght@300;400;500;600;700;900&display=swap");
:root {
  --primary-light: #052732;
  --primary-dark: #00171F;
  --primary-white: #fff;
  --primary-accent: #EBA340;
  --primary-grey: #949494;
}

html {
  font-size: 1rem;
}

body {
  color: var(--primary-white);
  font-family: 'Raleway', sans-serif;
}

section {
  padding: 40px 0px;
  background-color: var(--primary-dark);
}

header {
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: var(--primary-light);
}

header .main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-navigation ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  margin: 0px;
}

header .main-navigation ul li {
  padding: 0px 10px;
}

header .main-navigation ul li a {
  margin-left: 10px;
  font-size: 14px;
  color: var(--primary-white);
}

header .main-navigation ul .contact-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--primary-dark);
  height: 50px;
  width: 50px;
  font-size: 24px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 20px rgba(1, 7, 9, 0.59);
          box-shadow: 0px 0px 20px rgba(1, 7, 9, 0.59);
}

header .logo {
  font-size: 24px;
  font-weight: 400;
}

header .logo span {
  font-family: 'Amaranth', sans-serif;
  font-family: 700;
}

header .container:nth-child(2) {
  margin-top: 100px;
}

header h2 {
  margin-top: 30px;
  font-size: 32px;
  font-weight: 700;
}

header h1 {
  margin-top: -10px;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 0px;
}

header .super-heading {
  position: relative;
  z-index: 2;
  font-weight: 500;
  margin-left: 10px;
}

header .super-heading::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -9px;
  width: 45px;
  height: 30px;
  border-radius: 20px;
  background-color: var(--primary-accent);
  z-index: -1;
}

header .sub-heading {
  color: var(--primary-grey);
  font-size: 14px;
}

header .lets-talk {
  display: block;
  margin-top: 30px;
  color: var(--primary-accent);
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 600;
}

header .hero-image {
  position: relative;
}

header .hero-image__logo {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: #0D4253;
  -webkit-box-shadow: 0px 0px 21px #052732;
          box-shadow: 0px 0px 21px #052732;
  border-radius: 100%;
}

header .hero-image__logo--1 {
  top: -10%;
  left: 50%;
  height: 80px;
  width: 80px;
  padding: 10px;
}

header .hero-image__logo--2 {
  top: 55%;
  left: 85%;
  height: 100px;
  width: 100px;
  padding: 10px;
}

header .hero-image__logo--3 {
  height: 120px;
  width: 120px;
  padding: 20px;
  top: 78%;
  left: 35px;
}

header .hero-image__logo img {
  width: 100%;
  height: 100%;
}

header .container:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container:nth-child(3) .highlight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container:nth-child(3) .highlight span {
  font-size: 32px;
  font-weight: 700;
}

header .container:nth-child(3) .highlight p {
  font-size: 14px;
  line-height: 12px;
  margin: 0;
  margin-left: 10px;
  margin-top: 5px;
  letter-spacing: 1.05px;
}

header .container:nth-child(3) .highlight:not(:first-child) {
  margin-left: 20px;
}

.introduction .achievement {
  background-color: var(--primary-light);
  -webkit-box-shadow: 0px 33px 55px rgba(1, 7, 9, 0.59);
          box-shadow: 0px 33px 55px rgba(1, 7, 9, 0.59);
  padding: 20px 30px;
  margin-bottom: 20px;
}

.introduction .achievement h3 {
  font-size: 20px;
  font-weight: 300;
  color: var(--primary-accent);
}

.introduction .achievement p {
  color: var(--primary-grey);
  font-size: 12px;
  font-weight: 500px;
}

.introduction .achievement:nth-child(2) {
  position: relative;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  left: 100px;
}

.introduction__self {
  padding-left: 70px;
}

.introduction__self p:first-child {
  color: var(--primary-accent);
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0px;
}

.introduction__self--content {
  margin-top: 20px;
}

.introduction__self h3 {
  margin-top: 0px;
  text-transform: capitalize;
  font-weight: 600;
}

.introduction__self a {
  display: block;
  color: var(--primary-accent);
  text-transform: uppercase;
  letter-spacing: 1.1px;
  margin-top: 40px;
}

.skills {
  padding: 40px 0px;
}

.skills h1 {
  text-align: center;
  font-weight: 700;
  color: var(--primary-accent);
}

.skills--container {
  margin-top: 30px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 20px;
  background-color: var(--primary-white);
}

.skills--container p {
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: 700;
  color: var(--primary-dark);
}

.skills--container img {
  width: 100%;
}

.contact-links {
  list-style: none;
}

.contact-links li i {
  font-size: 32px;
}

.contact-links li span {
  margin-left: 10px;
  display: block;
}

.contact-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

.contact-links li:not(:first-child) {
  margin: 16px 0px;
}

.contact h1 {
  margin-left: 0px;
  text-align: center;
  font-weight: 700;
  color: var(--primary-accent);
}

.contact .container {
  margin-top: 40px;
}

.contact form input, .contact form textarea {
  background-color: var(--primary-dark);
  padding: 20px 15px;
  border-radius: 0px;
}

.contact form button {
  background-color: var(--primary-accent);
  outline: none;
  border: none;
  width: 100%;
  color: var(--primary-white);
  padding: 10px 0px;
  font-weight: 700;
}

footer {
  padding: 10px;
  text-align: center;
  background-color: var(--primary-dark);
}

footer p {
  margin-bottom: 0px;
}
/*# sourceMappingURL=main.css.map */