@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Raleway:wght@300;400;500;600;700;900&display=swap');

:root{
    --primary-light: #052732;
    --primary-dark: #00171F;
    --primary-white: #fff;
    --primary-accent: #EBA340;
    --primary-grey: #949494;
}

html{
    font-size: 1rem;
}

body{
    color: var(--primary-white);
    font-family: 'Raleway', sans-serif;
}

section{
    padding: 40px 0px;
    background-color: var(--primary-dark);
}


header{
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: var(--primary-light);

    & .main-navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & ul{
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
            margin: 0px;
            & li{
                padding: 0px 10px;
            }
            & li a{
                margin-left: 10px;
                font-size: 14px;
                color: var(--primary-white);
            }
            & .contact-links a{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--primary-dark);
                height: 50px;
                width: 50px;
                font-size: 24px;
                border-radius: 100%;
                box-shadow: 0px 0px 20px rgba($color: #010709, $alpha: 0.59);
            }
        }
    }
    
    & .logo{
        font-size: 24px;
        font-weight: 400;
        & span{
            font-family: 'Amaranth', sans-serif;
            font-family: 700;
        }
    }

    .container:nth-child(2){
        margin-top: 100px ;
    }
    & h2{
        margin-top: 30px;
        font-size: 32px;
        font-weight: 700;
    }
    & h1{
        margin-top: -10px;
        font-size: 60px;
        font-weight: 800;
        margin-bottom: 0px;
    }

    & .super-heading{
        position: relative;
        z-index: 2;
        font-weight: 500;
        margin-left: 10px;
        &::before{
            content: "";
            position: absolute;
            top: -5px;
            left: -9px;
            width: 45px;
            height: 30px;
            border-radius: 20px;
            background-color: var(--primary-accent);
            z-index: -1;
        }
    }

    & .sub-heading{
        color: var(--primary-grey);
        font-size: 14px;
    }

    & .lets-talk{
        display: block;
        margin-top: 30px;
        color: var(--primary-accent);
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: 600;
    }


    & .hero-image{
        position: relative;
        &__logo{
            position: absolute;
            height: 100px;
            width: 100px;
            background-color: #0D4253;
            box-shadow: 0px 0px 21px #052732;
            border-radius: 100%;
            
            &--1{
                top: -10%;
                left: 50%;
                height: 80px;
                width: 80px;
                padding: 10px;
            }
            &--2{
                top: 55%;
                left: 85%;
                height: 100px;
                width: 100px;
                padding: 10px;
            }
            &--3{
                height: 120px;
                width: 120px;
                padding: 20px;
                top: 78%;
                left: 35px;
            }

            & img{ width: 100%; height: 100%;}
        }
    }

    & .container:nth-child(3){
        display: flex;
        & .highlight{
            display: flex;
            align-items: center;

            & span{
                font-size: 32px;
                font-weight: 700;
            }

            & p{
                font-size: 14px;
                line-height: 12px;
                margin: 0;
                margin-left: 10px;
                margin-top: 5px;
                letter-spacing: 1.05px;
            }

            &:not(:first-child){
                margin-left: 20px;
            }
        }
    }


}

.introduction{

    & .achievement{
        background-color: var(--primary-light);
        box-shadow: 0px 33px 55px rgba($color: #010709, $alpha: 0.59);
        padding: 20px 30px;
        margin-bottom: 20px;
        & h3{
            font-size: 20px;
            font-weight: 300;
            color: var(--primary-accent);
        }
        & p{
            color: var(--primary-grey);
            font-size: 12px;
            font-weight: 500px;
        }

        &:nth-child(2){
            position: relative;
            transform: scale(0.95);
            left: 100px;
            // background-color: rgba($color: var(--primary-light), $alpha: 0.95)
        }
    }

    &__self{
        padding-left: 70px;
        & p:first-child{
            color: var(--primary-accent);
            font-weight: 300;
            text-transform: uppercase;
            font-size: 12px;
            margin-bottom: 0px;
        }
        &--content{
            margin-top: 20px;
        }
        & h3{
            margin-top: 0px;
            text-transform: capitalize;
            font-weight: 600;
        }
        & a{
            display: block;
            color: var(--primary-accent);
            text-transform: uppercase;
            letter-spacing: 1.1px;
            margin-top: 40px;
        }
    }

}

.skills{
    padding: 40px 0px;
    & h1{
        text-align: center;
        font-weight: 700;
        color: var(--primary-accent);

    }

    &--container{
        margin-top: 30px;
        display: block;
        box-sizing: border-box;
        text-align: center;
        padding: 20px;
        background-color: var(--primary-white);
        
        & p{
            margin-top: 20px;
            margin-bottom: 0px;
            font-weight: 700;
            color: var(--primary-dark);
        }

        & img{
            width: 100%;
        }
    }

}

.contact{

    &-links{
        list-style: none;
        & li i{
            font-size: 32px;
        }
        & li span{
            margin-left: 10px;
            display: block;
        }
        & li{   
            display: flex;
            font-size: 20px;
        }
        & li:not(:first-child){
            margin: 16px 0px;
        }
    }

    & h1{
        margin-left: 0px;
        text-align: center;
        font-weight: 700;
        color: var(--primary-accent);
    }

    & .container{
        margin-top: 40px;
    }

    & form{
        

        & input, textarea{
            background-color: var(--primary-dark);
            padding: 20px 15px;
            border-radius: 0px;
        }
        & button{
             background-color: var(--primary-accent);
             outline: none;
             border: none;
             width: 100%;
             color: var(--primary-white);
             padding: 10px 0px;
             font-weight: 700;
        }
    }

}

footer{
    padding: 10px;
    text-align: center;
    background-color: var(--primary-dark);
    & p{
        margin-bottom: 0px;
    }
}